@charset "utf-8";
/* CSS Document */
.color{color: red;
font-family: Impact;
font-size: 43px;
text-decoration: inherit;
font-weight: bold;}
#col{color: green;
font-family: gotham;
font-size: 55px;}
center.color{color:yellow;}

